<!DOCTYPE html>
<html ng-app="app" ng-controller="Language as lang">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{lang.departmentcreatetitle}}</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- AngularJs -->
<script src="vendor/angular-1.6.0/angular.min.js"></script>
<script src="js/app.config.js"></script>
<script src="js/app.module.js"></script>
<script src="js/language.js"></script>
  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
  <!-- Custom CSS -->
  <link href="css/site.css" rel="stylesheet">
  
  
</head>

<body >
	
	<div class="container text-white">
	
	<h2>{{lang.depcreatehead}}</h2>
	
	</div>

   <!-- Footer -->
  <footer class="footer text-center">
    <p class="copyright " style="width:auto">Copyright © 2019 {{lang.copyright}}</p>
	
	<button class="btn text-white" ng-click="lang.translateeng()"><img src="images/uk.png"> English</button>
	<button class="btn text-white" ng-click="lang.translatetr()"><img src="images/turkey.png"> Türkçe</button>
		<a class="btn text-white float-right" href="login.html"><img style="
			filter: contrast(1);" src="images/shutdown.png">{{lang.logout}}</a>
  </footer>

</body>
</html>