<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>UnitCreate Template</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
  <!-- Custom CSS -->
  <link href="css/site.css" rel="stylesheet">
  
  
</head>

<body >
	
	<div class="container text-white">
	
	<h2>Create Unit</h2>
	
	</div>

   <!-- Footer -->
  <footer class="footer text-center">
    <p class="copyright " style="width:auto">Copyright © 2019 {{lang.copyright}}</p>
	
	<button class="btn text-white" ng-click="lang.translateeng()"><img src="images/uk.png"> English</button>
	<button class="btn text-white" ng-click="lang.translatetr()"><img src="images/turkey.png"> Turkce</button>
  </footer>

</body>
</html>