<!DOCTYPE html>
<html ng-app="app" ng-controller="Language as lang">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{lang.logintitle}}</title>
<!-- AngularJs -->
<script src="vendor/angular-1.6.0/angular.min.js"></script>
<script src="js/app.config.js"></script>
<script src="js/app.module.js"></script>
<script src="js/language.js"></script>
  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/login.css" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">



</head>
<body>
  <div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="images/akdenizlogo.png" class="brand_logo" alt="Logo">
					</div>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form>
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" id="inputName" class="form-control input_user" value="" placeholder="{{lang.username}}">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" id="inputPassword" class="form-control input_pass" value="" placeholder="{{lang.password}}">
						</div>
						<div class="form-group">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="customControlInline">
								<label class="custom-control-label" for="customControlInline">{{lang.rememberme}}</label>
							</div>
						</div>
					</form>
				</div>
				<div class="d-flex justify-content-center mt-3 login_container">
					<button type="button" name="button" class="btn login_btn" onclick="login()">{{lang.login}}</button>
				</div>
				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						{{lang.havenoaccount}} <a href="register.html" class="ml-2">{{lang.signup}}</a>
					</div>
					<div class="d-flex justify-content-center links">
						<a href="passwordForgot.html">{{lang.forgotpsw}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
 
   <script>
      function login(){
        var username=document.getElementById("inputName").value;
        var password=document.getElementById("inputPassword").value;
        $.ajax({
          url:"http://localhost:8080/api/login/"+username+"/"+password,
          type:"POST",
          contentType:"application/json",
        }).then(function(){
			window.location.href = "user.html?username=" + username;
			})
			.catch(function (data) {
			alert("Giris basarisiz!");
			});
      }
    </script>
     <!-- Footer -->
  <footer class="footer text-center">
    <p class="copyright " style="width:auto">Copyright © 2019 {{lang.copyright}}</p>
	
	<button class="btn text-white" ng-click="lang.translateeng()"><img src="images/uk.png"> English</button>
	<button class="btn text-white" ng-click="lang.translatetr()"><img src="images/turkey.png"> Türkçe</button>
	
  </footer>
</body>
</html>