<!DOCTYPE html>
<html ng-app="app" ng-controller="Language as lang">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Manager Template</title>

    <!-- AngularJs -->
  <script src="vendor/angular-1.6.0/angular.min.js"></script>
  <script src="js/app.config.js"></script>
  <script src="js/app.module.js"></script>
  <script src="js/language.js"></script>
  
  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
  <!-- Custom CSS -->
  <link href="css/site.css" rel="stylesheet">
  
  
</head>
<body>
	
	<div class="container text-white">
	<h2>{{lang.managerheader}}</h2>
		<button class="btn btn-danger" ng-click="lang.translateeng()">English</button>
	<button class="btn btn-danger" ng-click="lang.translatetr()">Turkce</button>
	<form>
	<label>{{lang.managerplsunit}}:</label>
	<select class="form-control">
	<option>{{lang.optunit}}</option>
	</select>
	<div class="form-group">
		<label for="exampleFormControlTextarea1">Raporunuz:</label>
		<textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
	</div>
	<div class="row">
	<div class="col">
	 <div class="custom-file">
    <input type="file" class="custom-file-input" id="validatedCustomFile" required>
    <label class="custom-file-label" for="validatedCustomFile">Eklemek istediginiz resmi seciniz...</label>
    <div class="invalid-feedback">Example invalid custom file feedback</div>
	</div>
	</div>
	
	</div>
	<div class="text-right mt-3">
	<button class="btn btn-success float-right ml-3 ">Raporu Isle</button>
	<button class="btn btn-dark">Kaydet</button>
	<button class="btn btn-warning float-left">Birim raporlarini incele</button>
	</div>
	</form>
	</div>

  <!-- Footer -->
  <footer class="footer text-center">
    <p class="copyright ">Copyright © 2019 Akdeniz Üniversitesi Tüm Hakları Saklıdır.</p>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>


</body>
</html>