<!DOCTYPE html>
<html ng-app="app" ng-controller="Language as lang">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{lang.passwordforgottitle}}</title>
<!-- AngularJs -->
<script src="vendor/angular-1.6.0/angular.min.js"></script>
<script src="js/app.config.js"></script>
<script src="js/app.module.js"></script>
<script src="js/language.js"></script>
  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/login.css" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">



</head>
<body>
  <div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="images/akdenizlogo.png" class="brand_logo" alt="Logo">
					</div>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form>
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-envelope"></i></span>
							</div>
							<input type="email" id="inputEmail" class="form-control input_email" value="" placeholder="{{lang.enteryouremailforpassword}}">
						</div>
					
					</form>
				</div>
				<div class="d-flex justify-content-center mt-3 login_container">
					<button type="button" name="button" class="btn login_btn" onclick="reset()">{{lang.passwordresetrequestbutton}}</button>
				</div>
				
			</div>
		</div>
	</div>
 
   <script>

			// get token from url

      function reset(){
        var email=document.getElementById("inputEmail").value;
        $.ajax({
          url:"http://localhost:8080/api/change/sendPasswordChangeRequestByEmail?email="+email,
          type:"POST",
          contentType:"application/json",
        }).then(function(){
			window.location.href = "login.html";
			})
			.catch(function (data) {
			alert("Talep basarisiz!");
			});
      }
    </script>
     <!-- Footer -->
  <footer class="footer text-center">
    <p class="copyright " style="width:auto">Copyright © 2019 {{lang.copyright}}</p>
	
	<button class="btn text-white" ng-click="lang.translateeng()"><img src="images/uk.png"> English</button>
	<button class="btn text-white" ng-click="lang.translatetr()"><img src="images/turkey.png"> Türkçe</button>
  </footer>
</body>
</html>